{% extends 'base.html' %}

{% block title %} | Poll Detail{% endblock title %}

{% block content %}

<h3>{{ question.title }}</h3>

{% if question.choices.all %}
<form action="{% url 'single_poll' question.id %}" method="POST">
    {% csrf_token %}
    {% for choice in question.choices.all %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="answer" value="{{ choice.id }}">
        <label class="form-check-label" for="answer">
            {{ choice.title }}
        </label>
    </div>
    {% endfor %}
    <input class="btn btn-dark mt-3" type="submit" value="Submit">
</form>
{% else %}
<ul class="list-group mb-3">
    <li class="list-group-item">
        There is no choice available for this question
    </li>
</ul>
<b>Created by: {{ question.created_by|title }}</b>

{% endif %}



{% endblock content %}